.mydiv {
  position: relative;
  z-index: 0;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: left;
  width: 500px;
  height: 500px;
  resize:both;
  /* box-shadow: 12px 12px 2px 1px rgba(230, 230, 233, 0.1); */
}



.mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 0;
  /* background-color: #2196F3; */
  /* color: #fff; */
  /* color: #fff; */
  width:100%;
  height: 100%;
}

#mydivN {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  width: 500px;
  height: 500px;
  resize:both;
}



#mydivheaderN {
  padding: 10px;
  cursor: move;
  z-index: 10;
  /* background-color: #2196F3; */
  color: #fff;
  width:100%;
  height: 100%;
}

#topgraph{
cursor: move;
z-index: 0;
width:100%;
height: 100%;
}

span{
  padding:0;
  margin:0;
}

.dem {
  transition: width 200ms ease-in-out;
  display: inline-block;
  overflow: hidden;
  white-space: wrap;
  /* background: yellow; */
  vertical-align: middle;
  line-height: 0px;
  height: 30px;
  width: 0px;
}

.dem.in {
  width: 400px;
  
}

.topbar{
display: inline-block;
width: 500px;
position: relative;
z-index: 5;
}


#top{
  height: 500px;
  width: 500px;

}

.cls{
   margin:0 15px 0 0;

  /* padding: 0; */
}

/* .cls::selection { visibility: hidden;} */


#close{
  margin:0 15px 0 0;

 /* padding: 0; */
}


.resizeC{
  /* border: 2px solid; */
  padding: 20px; 
  width: 500px;
  height: 500px;	
  resize: both !important;
  overflow: auto;
}

.mystyle {
  position: fixed;
}

.redoC{
  transform: translate(0px,0px)
}

.originalC{
  position: relative;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
  width: 500px;
  height: 500px;
}
.icon{
 
  background: linear-gradient(to right, #ff512f, #f09819); 
}

#clone{
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 10px 10px 10px 10px;
  display: inline;
}

.hov:hover{
  color:#ff512f;
}
.hov1{
  background-color: #f09819;
}
.buttt{
  color:aqua;
}

.dupli{
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px; 
  margin-top:10px; 
}


.disp{
  display:none !important;
}


.dispadd{
  display:inline !important;	
}

.navdisp{
  display:none !important;
}

.disp1{
  display:inline !important;
}


.dispadd1{
  display:none !important;	
}

.mainmov{
  resize: both; 
}

i{
color:#f0eaea;
}

i:hover{
color:#c2bd11;
}
.trash{
 color: #db0000;
}   

.trash:hover{
  color: #a50909;
 }   

.bmove{
  display:inline;
}

.bcancel{
  display:inline;
}
.topbar{
  background: #333333;  /* fallback for old browsers */
  
  background: linear-gradient(to left, #531818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.state{
  display:none;
}
.substate{
  display:none;
}

.olmatic{
  color:#c2bd11;
}
.rtc{
position:absolute;
transform: translate3d(1275px,2px,0);
}
.title{
color:black;
background-color:black;
}

input{
display:none;
}
h4{
color:white;
position: absolute;
  transform: translate(55px, 2px);
}

.rtc1{
position:absolute;
transform: translate3d(1230px,2px,0);
}
.rtc2{
position:absolute;
transform: translate3d(1230px,2px,0);
}

.chart{
  height:400px !important;;
  width: 400px !important;
  /* overflow: hidden !important; */
}

.submove{
  width: 500px;
  height: 500px;
  position: relative;
  display: inline-block;
}

.csv{
    position: absolute;
    z-index: 1;
    transform: translate3d(15px, 0px, 10px) !important;
}


.fix{
  color:black;
  background-color:black;
  position:fixed;
  width: 100%;
  height:50px;
  top:0px;
  z-index:20;
}

.myresize {
  /* position: absolute;
  z-index: 0; */
  /* background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: left;
  width: 500px;
  height: 500px;
  resize: both;
  overflow: auto;
  align-items: center;
  justify-content: center;   */
  width: 500px;
  resize: both; 
  overflow: auto;
  height: 500px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}



.mydivresize {
  /* padding: 10px; */
  /* cursor: move; */
  /* z-index: 0; */
  /* background-color: #2196F3; */
  color: #fff;
  width:100%;
  height: 100%;
  position: inherit;
}

.stockprops{

   width: "100%";
    height: "100%";
      position: "inherit" ;
 
}

.multiprops{

  width: "100%";
   height: "100%";
     position: "inherit" ;

}

.colr{
  background: #333333;  /* fallback for old browsers */
  
  background: linear-gradient(to right, #b9b9ae, #f5f1f1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}